


.mapField {
  float: left;
  width: 4.5%;
  height: 0px;
  padding-bottom: 4.5%;
  margin: 0.25%;
  text-align:center;
  display: table-cell;
  vertical-align:middle;
}

.up {
  margin-left:auto;
  margin-right:auto;
}

.right {
  transform: rotate(-270deg);
  -webkit-transform: rotate(-270deg);
}

.left {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}

.up {
  transform: rotate(-270deg);
  -webkit-transform: rotate(-270deg);
}

.down {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.vertical-center{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
