<br><h3>Show map</h3><br>

<br><h5>Edge: {{edgeY}} {{edgeX}}</h5>
{{mapElementDescription}}<br>
<div>
  <div class="container col-1 p-0" style="margin-left: auto; margin-right: auto;">
    <img src="assets/arrow.png" alt="Arrow up" style="width:100%;height:100%;" (click)="moveMap(Directions.Up)">
  </div>

  <div style="overflow: auto; display: flex;">
    <div class="container col-1 float-left p-0">
      <img src="assets/arrowLeft.png" class="vertical-center" alt="Arrow left" style="width:100%;" (click)="moveMap(Directions.Left)">
    </div>

    <div class="container col-10 p-0">
      <div *ngFor="let item of mapFields">
        <div class="mapField" [style.background]="getTerrainColor(item.X, item.Y, item.TerrainType)" (click)="mapFieldClick(item.X, item.Y)"
        (mouseenter)="onMouseEnter(item)">
          <div *ngIf="item.MapElementType == MapElementTypes.Headquarters">
            <app-map-element [bossId]="item.Owner" ifPlayerImage="assets/myheadquarters.png" ifNotPlayerImage="assets/headquarters.png" (click)="mapElementClick(item.Id, item.MapElementType)"></app-map-element>
          </div>
          <div *ngIf="item.MapElementType == MapElementTypes.Mission">
            <app-map-element [bossId]="item.Owner" ifPlayerImage="assets/myMissionIcon.png" ifNotPlayerImage="assets/missionIcon.png" (click)="mapElementClick(item.Id, item.MapElementType)"></app-map-element>
          </div>
          <div *ngIf="item.MapElementType == MapElementTypes.Ambush">
            <app-map-element [bossId]="item.Owner" ifPlayerImage="assets/myAmbush.png" ifNotPlayerImage="assets/ambush.png" (click)="mapElementClick(item.Id, item.MapElementType)"></app-map-element>
          </div>
          <div *ngIf="isChosenAsAgentPath(item.X, item.Y)">
            <img src="assets/point.png" alt="P" style="max-width: 100%; max-height: 100%">
          </div>
        </div>
      </div>
    </div>

    <div class="container col-1 p-0">
      <img src="assets/arrowRight.png" class="vertical-center" alt="Arrow right" style="width:100%; clear: both;" (click)="moveMap(Directions.Right)">
    </div>
  </div>

  <div class="container col-1 p-0">
    <img src="assets/arrow.png" class="down" alt="Arrow down" style="width:90%;height:90%;" (click)="moveMap(Directions.Down)">
  </div>


  <div class="container col-1 row">
    <button *ngFor="let mapButton of availableButtons" type="button" class="btn btn-outline-dark" (click)="buttonOperations(mapButton.Operation)">{{mapButton.Text}}</button>
  </div>
</div>
<ng-template #mapElementModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Check map field</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="chosenElementType == MapElementTypes.Headquarters">
      <app-headquarters-details [headquartersId]="chosenMapFieldId" (someEvent)="closeAndRefresh($event)"></app-headquarters-details>
    </div>
    <div *ngIf="chosenElementType == MapElementTypes.Mission">
      <app-choose-agent-on-mission [mapElementId]="chosenMapFieldId" (someEvent)="closeAndRefresh($event)"></app-choose-agent-on-mission>
    </div>
    <div *ngIf="chosenElementType == MapElementTypes.Ambush">
      <app-ambush-details [mapElementId]="chosenMapFieldId" (someEvent)="closeAndRefresh($event)"></app-ambush-details>
    </div>
    <div *ngIf="chosenElementType == MapElementTypes.None && mapMode == MapModes.SettingAmbush">
      <app-choose-agent-to-arrange-ambush [mapElementId]="chosenMapFieldId" (someEvent)="closeAndRefresh($event)"></app-choose-agent-to-arrange-ambush>
    </div>
    <div *ngIf="chosenElementType == MapElementTypes.None && mapMode == MapModes.CreatingPatrolPath">
      <app-choose-agent-to-patrol [mapElementId]="chosenMapFieldId" (someEvent)="closeAndRefresh($event)"></app-choose-agent-to-patrol>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closeAndRefresh(MapOperations.Cancel)">Close</button>
  </div>
</ng-template>
