<br><h3>Messages</h3><br>

<button class="btn btn-success mb-1" (click)="navigateToSendMessageComponent()">Prepare message</button>
<div>
<button class="btn btn-secondary mb-3" (click)="refreshMessageList()">Refresh</button>
</div>
<div class="row mb-5">
  <div class="col-sm-4">
    <input [(ngModel)]="ReceiverFilterText" (input)="refreshMessageList()" class="form-control" placeholder="Search by boss name">
  </div>
  <div class="col-sm-4">
    <button class="btn btn-danger" (click)="clearFilters()">Clear filters</button>
  </div>
</div>

<table class="table table-striped text-center mt-12">
  <thead>
    <tr>
      <th scope="col">

      </th>
      <th scope="col">
        From
      </th>
      <th scope="col">
        Subject
      </th>
      <th scope="col">Receive date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let message of MessageFilteredList">
      <td>
        <div>
          <input class="form-check-input" type="checkbox" [checked]="checkbox" (change)="checkboxClicked($event,message.Id)">
        </div>
      </td>
      <td [style.font-weight]="message.Seen ? 'normal' : '700'">{{message.FromBossName}}</td>
      <td [style.font-weight]="message.Seen ? 'normal' : '700'">{{message.Subject}}</td>
      <td [style.font-weight]="message.Seen ? 'normal' : '700'">{{basicUtils.stringDateConvert(message.ReceivedDate)}}</td>
      <td>
        <button class="btn btn-success m-1" (click)="showContent(message.Content, message.Id)">
          See content
        </button>
        <button class ="btn btn-secondary m-1" (click)="navigateToSendMessageComponentWithParams(message.FromBossName, message.Subject)">
          Answer
        </button>
        <button class="btn btn-danger m-1" (click)="deleteMessage(message.Id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="text-center">
  <button class="btn btn-danger m-1 float-left" (click)="deleteSelected()">Delete selected</button>
  <select class="form-select float-right m-1" aria-label="Default select example">
    <option *ngFor="let index of PageNumbers" (click)="getNextPage(index, index+5)">{{index}}-{{index+5}}</option>
  </select>
</div>
