<br><h3>Performing missions</h3>
Missions performed by your agents
<br>
<br>
<table class="table table-striped text-center">
  <thead>
    <tr>
      <th scope="col">Mission name</th>
      <th scope="col">Agent Name</th>
      <th scope="col">Success chance</th>
      <th scope="col">Seconds left</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mission of performingMissions">
      <td>{{mission.MissionName}}</td>
      <td>{{mission.AgentName}}</td>
      <td>{{mission.SuccessChance}}</td>
      <td>{{mission.SecondsLeft}}</td>
      <td>
        <button class="btn btn-success" (click)="showOnMap(mission)">Show on map</button>
      </td>
    </tr>
  </tbody>
</table>
