
<div class=" container-fluid col-12 border border-dark align-middle justify-content-center mt-2">
	<div class="p-4">
    You have to enter your email. If there is an account associated with the email, you will receive a password change code.<br><br>
		<div class="form-group" *ngIf="!emailProvided">
			<label for="email" >Enter your email</label>
			<input class="form-control" placeholder="Email required" [(ngModel)]="this.createResetPasswordCodeRequest.Email">
		</div>

		<div class="text-center mt-3">
			<button class="btn btn btn-outline-dark rounded-5 col-10" (click)="createResetPasswordCode()">Create code</button>
		</div>

		<div class="form-group" *ngIf="emailProvided">
      <br><br>
			<label for="code">Enter token</label>
			<input class="form-control" placeholder="Token required" [(ngModel)]="resetPasswordRequest.Token">
		</div>

    <div class="form-group" *ngIf="emailProvided" >
			<label for="password">Enter password</label>
			<input class="form-control" type="password"  placeholder="Password required" [(ngModel)]="this.resetPasswordRequest.Password">
		</div>

    <div class="form-group" *ngIf="emailProvided">
			<label for="repeatedPassword">Enter repeated password</label>
			<input class="form-control" type="password"  placeholder="Repeated password required"  [(ngModel)]="this.resetPasswordRequest.RepeatedPassword">
		</div>

		<div class="text-center mt-3" *ngIf="emailProvided">
			<button class="btn btn btn-outline-dark rounded-5 col-10" (click)="resetPassword()">Reset password</button>
		</div>
	</div>
</div>
