<nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav">
      <li class="m-1 nav-item">
        <button routerLink="available"
        class="btn btn-light btn-outline-secondary col-sm-12" Button>Available missions</button>
      </li>

      <li class="m-1 nav-item">
          <button routerLink="performing"
          class="btn btn-light btn-outline-secondary col-sm-12" Button>Performing missions</button>
      </li>
  </ul>
  </nav>

<router-outlet></router-outlet>
