<nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav">
      <li class="m-1 nav-item">
        <button routerLink="messages"
        class="btn btn-light btn-outline-secondary col-sm-12" Button>Show messages</button>
      </li>
      <li class="m-1 nav-item">
        <button routerLink="reports"
        class="btn btn-light btn-outline-secondary col-sm-12" Button>Show reports</button>
      </li>
      <li class="m-1 nav-item">
        <button routerLink="send"
        class="btn btn-light btn-outline-secondary col-sm-12" Button>Send message</button>
      </li>
  </ul>
</nav>

<router-outlet></router-outlet>
