<nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="messages"
        class="m-1 btn btn-light btn-outline-secondary" Button>Show messages</button>
      </li>
      <li class="nav-item">
        <button routerLink="reports"
        class="m-1 btn btn-light btn-outline-secondary" Button>Show reports</button>
      </li>
      <li class="nav-item">
        <button routerLink="send"
        class="m-1 btn btn-light btn-outline-secondary" Button>Send message</button>
      </li>
  </ul>
</nav>

<router-outlet></router-outlet>
