<h1>This is home page</h1>
W are glad that you visited Mafia Online again. If you have visited this page for the first time - give this great game a chance. We think it's worth a try.<br> If you want to register, go to the <strong>Register</strong> section.
<br> If you have registered already, go to the <strong>Login</strong> section and login.
<br> If you want to know the rules of this game, go to the <strong>About</strong> section.
<br>
<br>
<h2>Last news</h2>
<div *ngFor="let news of newsList" >
  <app-news-card [news]="news"></app-news-card>
</div>
