<header>
  <div class="row">
    <img src="../../../assets/mafiaOnlineLogo.png" alt="Mafia Online" style="width:20%;height:20%;text-align: center; margin-left: auto; margin-right: auto;">
  </div>
  <nav class="navbar navbar-expand-sm bg-light navbar-dark" >
    <ul class="navbar-nav flex-wrap w-100">
        <li class="nav-item m-1" *ngIf="!isUserAuthenticated()">
          <button routerLink=""
          class="btn btn-light btn-outline-primary col-sm-12" Button>Home</button>
        </li>
        <li class="nav-item m-1" *ngIf="!isUserAuthenticated()">
          <button routerLink="login"
          class="btn btn-light btn-outline-primary col-sm-12" Button>Login</button>
        </li>
        <li class="nav-item m-1" *ngIf="!isUserAuthenticated()">
          <button routerLink="register"
          class="btn btn-light btn-outline-primary col-sm-12" Button>Register</button>
        </li>
        <li class="nav-item m-1" *ngIf="isUserAuthenticated() && hasRole('Player,Administrator')">
          <button routerLink="boss/aboutBoss"
          class="btn btn-light btn-outline-primary col-sm-12" Button>Bosses</button>
        </li>
        <li class="nav-item m-1" *ngIf="isUserAuthenticated() && hasRole('Player,Administrator')">
            <button routerLink="agent/available"
            class="btn btn-light btn-outline-primary col-sm-12" Button>Agents</button>
        </li>

        <li class="nav-item m-1" *ngIf="isUserAuthenticated() && hasRole('Player,Administrator')">
            <button routerLink="mission/available"
            class="btn btn-light btn-outline-primary col-sm-12" Button>Missions</button>
        </li>

        <li class="nav-item m-1" *ngIf="isUserAuthenticated() && hasRole('Player,Administrator')">
          <button routerLink="map/showMap"
          class="btn btn-light btn-outline-primary col-sm-12" Button>Map</button>
        </li>

        <li class="nav-item m-1" *ngIf="isUserAuthenticated() && hasRole('Player,Administrator')">
          <button *ngIf="hasUnseenMessages()" routerLink="message/messages"
            class="btn btn-light btn-outline-danger col-sm-12" Button>Messages</button>
          <button *ngIf="!hasUnseenMessages()" routerLink="message/messages"
            class="btn btn-light btn-outline-primary col-sm-12" Button>Messages</button>
        </li>

        <li class="nav-item m-1" *ngIf="isUserAuthenticated() && hasRole('Player,Administrator')">
          <button routerLink="accountSettings/changePassword"
          class="btn btn-light btn-outline-primary col-sm-12" Button>Account settings</button>
        </li>

        <li class="nav-item m-1">
          <button routerLink="howToPlay/introduction"
          class="btn btn-light btn-outline-primary col-sm-12" Button>How to play</button>
        </li>

        <li class="nav-item m-1" *ngIf="isUserAuthenticated() && hasRole('Administrator')">
          <button routerLink="news/create"
          class="btn btn-light btn-outline-warning col-sm-12" Button>News</button>
        </li>

        <li class="nav-item m-1" *ngIf="isUserAuthenticated() && hasRole('Administrator')">
          <button routerLink="job/active"
          class="btn btn-light btn-outline-warning col-sm-12" Button>Jobs</button>
        </li>

        <li class="nav-item m-1" *ngIf="isUserAuthenticated() ">
          <button routerLink="" (click)="logOut()"
          class="btn btn-dark btn-outline-primary col-sm-12" Button>Logout</button>
        </li>
    </ul>
  </nav>
  <app-not-activated-player *ngIf="isUserAuthenticated() && isPlayerNotActivated()"></app-not-activated-player>
</header>
