<nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav">
      <li class="m-1 nav-item">
        <button routerLink="changePassword"
        class="btn btn-light btn-outline-secondary col-sm-12" Button>Change password</button>
      </li>

      <li class="m-1 nav-item">
        <button routerLink="deleteAccount"
        class="btn btn-light btn-outline-secondary col-sm-12" Button>Delete an account</button>
      </li>
  </ul>
  </nav>

<router-outlet></router-outlet>
