<br><h3>Boss ranking</h3>
Bosses with the most cash
<br>
<br>
<table class="table table-striped text-center">
  <thead>
    <tr>
      <th scope="col">Posision</th>
      <th scope="col">Name</th>
      <th scope="col">Money</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let boss of BossList">
      <td>{{boss.Position}}</td>
      <td>{{boss.Name}}</td>
      <td>{{boss.Money}}</td>
      <td>
          <button class="btn btn-success" (click)="sendMessage(boss.Name)">Send message</button>
      </td>
    </tr>
  </tbody>
</table>
