<div class="btn-group" role="group">
  <button *ngIf="agentContainsState([4])"
    type="button" (click)="dismissAgent(agent)" class="btn btn-secondary btn-danger">Dismiss</button>
  <button *ngIf="agentContainsState([2])"
    type="button" (click)="recruitAgent(agent)" class="btn btn-secondary btn-success">Recruit</button>
  <button *ngIf="agentContainsState([3, 5, 6])"
    type="button" (click)="showAgentOnMap(agent)" class="btn btn-secondary btn-warning">Show on map</button>
  <button *ngIf="agentContainsState([6])"
    type="button" (click)="cancelAmbush(agent)" class="btn btn-secondary">Cancel ambush</button>
</div>
