<br><h3>Map</h3>
<br>
<br>
The action of the game takes place on the map. It looks like this<br><br>
<img src="../../../../assets/howToPlayAssets/howToPlayMap.png" alt="Map">
<br><br>
Description of icons on the map:
<br><br>
<img src="../../../../assets/myheadquarters.png" alt="HQ" style="height: 5%; width: 5%;">&emsp;Your headquarters
<br>
<img src="../../../../assets/headquarters.png" alt="MyHQ" style="height: 5%; width: 5%;">&emsp;Another boss' headquarters
<br>
<img src="../../../../assets/missionIcon.png" alt="Mission" style="height: 5%; width: 5%;">&emsp;Available mission
<br>
<img src="../../../../assets/myMissionIcon.png" alt="MyMission" style="height: 5%; width: 5%;">&emsp;Mission performing by your agent
<br>
<img src="../../../../assets/ambush.png" alt="Ambush" style="height: 5%; width: 5%;">&emsp;Exposed ambush
<br>
<img src="../../../../assets/myAmbush.png" alt="MyAmbush" style="height: 5%; width: 5%;">&emsp;Your ambush
<br><br>
Below the map you can see buttons that can be used to perform some agent actions
<br><br>
You can move around the map by pressing the black arrows.
<br><br>
"Edge" indicates the location of the upper left corner in the game world.
