<br><h3>Available agents</h3>
Idle agents waiting for your orders
<br>
<br>
<table class="table table-striped text-center">
  <thead>
    <tr>
      <th scope="col">Agent Name</th>
      <th scope="col">Statistics</th>
      <th scope="col">Upkeep</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let agent of AgentList">
      <td>{{agent.FirstName}} {{agent.LastName}}</td>
      <td>{{agent.Strength}}/{{agent.Dexterity}}/{{agent.Intelligence}}</td>
      <td>{{agent.Upkeep}}</td>
      <td>
          <button class="btn btn-danger" (click)="dismissAgent(agent.Id)">Dismiss</button>
      </td>
    </tr>
  </tbody>
</table>
