<br><h3>Agents</h3>
<br>
<br>
Agents are your employees. They can be sent on various missions. After creating the game you get 3 agents who have the same name as the mafia boss you created. In addition, you can buy additional agents for a certain amount of money. Each of the agents has its own statistics: strength, dexterity, intelligence. They are important when completing missions or shootings.
<ol>
  <li>going on missions</li>
  <li>preparation of the trap</li>
  <li>patrolling</li>
</ol>
<br>
There are several agent lists:
<ol>
  <li>"Available agents" containing all agents waiting for your orders</li>
  <li>"Agents on mission" containing agents on mission</li>
  <li>"Agents for sale" containing agents, which you can buy</li>
  <li>"Moving agents" containing moving agents (for example going on mission)"</li>
  <li>"Ambushing agents" containing agents, which prepared ambush"</li>
</ol>

<img src="../../../../assets/howToPlayAssets/howToPlayAgentLists.png" alt="Example">
<br><br>
Your agents can be dismissed. Then he ceases to be your agent. Agents from yor family cannot be dismissed.
