<h5>Change password</h5><br>
<div class= "container col-6 p-4">
    <div class="form-group">
        <label for="oldPass">Old password</label>
        <input class="form-control" id="oldPass" type="password" name="oldPass" placeholder="Old password required" [(ngModel)]="oldPass">
    </div>
    <div class="form-group">
        <label for="newPass">New password</label>
        <input class="form-control" id="newPass" type="password" name="newPass" placeholder="New password required"  [(ngModel)]="newPass">
    </div>
    <div class="form-group">
        <label for="newPass2">Repeat new password</label>
        <input class="form-control" id="newPass2" type="password" name="newPass2" placeholder="Repeated new password required"  [(ngModel)]="newPass2">
    </div>
    <div class="text-center mt-3">
        <button class="btn btn btn-outline-dark rounded-5 col-4" type="submit" (click)="changePassword()">Change password</button>
    </div>
</div>
