<nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="available"
        class="m-1 btn btn-light btn-outline-secondary" Button>Available agents</button>
      </li>

      <li class="nav-item">
          <button routerLink="onMission"
          class="m-1 btn btn-light btn-outline-secondary" Button>Agents on mission</button>
      </li>

      <li class="nav-item">
        <button routerLink="forSale"
        class="m-1 btn btn-light btn-outline-secondary" Button>Agents for sale</button>
      </li>

      <li class="nav-item">
        <button routerLink="moving"
        class="m-1 btn btn-light btn-outline-secondary" Button>Moving agents</button>
      </li>
  </ul>
  </nav>

<router-outlet></router-outlet>

