<br><h3>Moving agents</h3>
Agents going to a specific place
<br>
<br>
<table class="table table-striped text-center">
  <thead>
    <tr>
      <th scope="col">Agent Name</th>
      <th scope="col">Statistics</th>
      <th scope="col">Destination description</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let agent of MovingAgents">
      <td>{{agent.FirstName}} {{agent.LastName}}</td>
      <td>{{agent.Strength}}/{{agent.Dexterity}}/{{agent.Intelligence}}</td>
      <td>{{agent.DestinationDescription}}</td>
      <td>

      </td>
    </tr>
  </tbody>
</table>
