<br><h3>Moving agents</h3><br>

<table class="table table-striped text-center">
  <thead>
    <tr>
      <th scope="col">LastName</th>
      <th scope="col">FirstName</th>
      <th scope="col">Statistics</th>
      <th scope="col">Destination description</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let agent of MovingAgents">
      <td>{{agent.LastName}}</td>
      <td>{{agent.FirstName}}</td>
      <td>{{agent.Strength}}/{{agent.Dexterity}}/{{agent.Intelligence}}</td>
      <td>{{agent.DestinationDescription}}</td>
      <td>

      </td>
    </tr>
  </tbody>
</table>
